* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

body {
  width: 100%;
  height: 100%;
}

.logo {
  width: 265px;
  height: 43px;
}

.hero {
  width: 100%;
  height: 54.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  background-image: url(./assets/background.png);
}

header {
  width: 100%;
  padding: 4rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
  padding: 0 2rem;
}

header button {
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.first-section {
  width: 100%;
  max-width: 80rem;
  gap: 3rem;
  display: flex;
  align-items: center;

}

.column-inform {
  padding: 2rem;
  width: 100%;
  max-width: 25rem;
  font-weight: 400;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.under {
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.first-img {
  position: absolute;
  z-index: 1000;
} 

.second-img {
  position: relative;
  right: -2rem;
  z-index: 999;
} 

.third-img {
  position: relative;
  left: -3rem;
  z-index: 888;
}

.fourth-img {
  position: relative;
  left: -8rem;
  z-index: 777;
}

.text-column {
  display: flex;
  flex-direction: column;
}

.strong-inform {
  font-size: 45px;
  text-align: left;
  width: 100%;
  max-width: 34rem;
  line-height: 4rem;
}

.text-inform a.red-text {
  color: var(--color-logo);
}

.strong-inform span {
  color: #fff;
  font-weight: 700;
}

.strong-inform strong {
  color: var(--color-logo);
}

.galery {
  display: flex;
  width: 100%;
  max-width: 80rem;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
  justify-content: center;
}

.galery img {
  width: 18rem;
  height: 10rem;
  border: 1px solid rgb(211, 204, 204);  
}

.main-1 {
  width: 100%;
  height: 32rem;
  background-color: var(--body-background);
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  border-bottom: 1px solid rgb(211, 204, 204);
}

.vertical-inform {
  width: 100%;
  max-width: 12rem;
  border-right: 1px solid rgb(211, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

}

.number-informs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-informs strong {
  font-weight: 700;
  font-size: 40px;
  color: var(--text-color);
}

.number-informs span {
  font-weight: 400;
  font-size: 15px;
  color: var(--subtitle-color);
}

.horizontal-inform {
  width: 100%;
}

.text-informs {
  width: 100%;
  max-width: 68rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.text-inform {
  width: 100%;
  max-width: 25rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
}

.text-inform a {
  margin-top: 2rem;
  color: var(--text-color);
}

.horizontal-inform-img img{
  width: 100%;
  height: 14.9rem;
}

.main-2 {
  width: 100%;
  height: 55rem;
  background-color: var(--body-background);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-main2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  padding: 5rem;
  color: var(--text-color);
}

.title-main2 .red-title {
  color: var(--color-logo);
}

.astronauts {
  width: 100%;
  max-width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14.5rem;
}

.vertical-astronauts {
  width: 100%;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 3rem;
}

.line-separation {
  height: 50rem;
  border-right: 1px solid rgb(211, 204, 204);
}

.header-tab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

.header-tab .title {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
}

.header-tab img {
  width: 1.5rem;
  height: 1.2rem;
}

.sub-header-tab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

.sub-header-tab span {
  color: var(--subtitle-color);
}

.sub-header-tab .red-number {
  color: var(--color-logo);
}

.line-separation { 
  width: 1rem;
  height: 42rem;
  width: 2rem;
  color: tomato;
}

.main-3 {
  width: 100%;
  height: 45rem;
  background-color: var(--body-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-main3 {
  width: 100%;
  max-width: 80rem;
  font-size: 40px;
  padding: 5rem;
  color: var(--text-color);
  text-align: center;
}

.red-title {
  color: var(--color-logo);
}

.best-artists {
  display: flex;
  width: 100%;
  max-width: 80rem;
  flex-wrap: wrap;
  gap: 6.5rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.single-artist {
  width: 20rem;
  background-color: var(--card-color);
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.single-red-artist {
  width: 20rem;
  background-color: var(--color-logo);
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.single-red-artist .description {
  color: var(--text-color);
}

.single-red-artist img {
  width: 5rem;
  height: 5rem;
}

.single-artist img {
  width: 5rem;
  height: 5rem;
}

.name-of-artist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.name {
  color: var(--text-color);
}

.description {
  color: var(--color-logo);
}

.footer-main-3 {
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
}

.footer-main-3 a {
  color: var(--text-color);
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: var(--body-background);
}

.footer-section {
  width: 100%;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 100%;
  display: flex;
  padding: 4rem 5.2rem; 
  justify-content: space-between;
  border-bottom:  1px solid rgb(211, 204, 204);
}

.black-arrow {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-logo);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.midle-footer {
  display: flex;
  border-bottom: 1px solid rgb(211, 204, 204);
}

.form {
  width: 100%;
  max-width: 30rem;
  padding: 5rem;
  border-right: 1px solid rgb(211, 204, 204) ;
}

.form span {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
}

.form span.red-title {
  color: var(--color-logo);
}

input {
  width: 100%;
  max-width: 13rem;
  padding: 1rem 0.5rem;
  margin-top: 1rem;
  border: none;
  background-color: var(--body-background);
  text-align: center;
  color: var(--subtitle-color);
}

 .form button {
  width: 5rem;
  padding: 1rem;
  color: var(--black-text);
  font-weight: 700;
  cursor: pointer;
}

.links-section {
  width: 100%;
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-links strong {
  color: var(--text-color);
}

.list-links a {
  text-decoration: none;
  color: var(--subtitle-color);
}

.last-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  align-items: center;
}

.site a {
  text-decoration: none;
  color: var(--subtitle-color);
}

.redes {
  display: flex;
  gap: 2rem;
}

